{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}

    <div class="container-fluid" id="app">
        <div class="container">
            <h1 class="heading text-center">
                Creating questions to test of exam
            </h1>
            <form action="{{ path('storeQuestions') }}" method="POST">
                <input type="hidden" name="userId" value="{{ app.user.id }}">
                <input type="hidden" name="examId" value="{{ exam.id }}">
                <div class="form-group">
                    <h2 class="heading">{{ exam.category.name }}</h2>
                    <p class="lead">{{ exam.description }}</p>
                </div>
                <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input" id="customControlValidation1" name="showExam">
                    <label class="custom-control-label" for="customControlValidation1">Show exam for students</label>
                    <div class="invalid-feedback">Example invalid feedback text</div>
                </div>
                <create-questions></create-questions>
                <button type="submit" class="btn btn-primary">Save questions</button>
            </form>
        </div>
    </div>



{% endblock %}

{% block javascripts %}
{% endblock %}